/* CoinInfo.css */

.coin-info-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;

    max-width: 900px;
    margin: 0 auto;
    width: 1000px;
    height: 624px;
    top: 49px;



}

.coin-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;

}

.coin-image {
    width: 300px;
    height: 300px;
    object-fit: contain;
   
}

.coin-details {
    flex: 1;
    background-color: #C4C4C480;
    width: 452px;
    height: 730px;
    padding: 20px;
}

.coin-details h1 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 700;
}

.coin-details p {
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: 13px;
    font-weight: 400;
}

.coin-details table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.coin-details table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.coin-details table tr {
    background-color: white;
}

.coin-details table tr:nth-child(even) {
    background-color: #E1E1E1;
}

footer {
    margin-top: 120px;
}

footer .back-link {
    color: #60606080;
}

.back-link:hover {
    text-decoration: underline;
}
