
.registr{
    position: fixed;
    left: 30px;
    top: 30px;
    width: 600px;
   
}
.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 30px;
    gap: 20px; 
   justify-content: center;
   margin-top: 200px;
   font-family: 'Roboto', sans-serif;
}

.input-group {
    display: flex;
    flex-direction: column; 
    width: 100%;
    max-width: 360px; 
    font-family: 'Roboto', sans-serif;
    align-items: flex-start;
}

label {
    font-weight: bold;
    margin-bottom: 5px; 
}

.input-registr, 
.input-password {
   
    border: 1px solid black;
    padding: 5px;

  
}
.input-group .input-registr{
    width:374px;
    height: 50px;
    border-radius: 0%;
    font-size: 16px;
}

.input-group .input-password{
    width:374px;
    height: 50px;
    border-radius: 0%;
    font-size: 16px;
    padding: 5px;
}
.btn-for-registr {
    margin-top: 20px;
    width: 120px;
    height: 48px;
    border: none;
    background-color: #833AE0;
    color: white;
    cursor: pointer;
    
}
.link-to-admin-panel{
    text-decoration: none;
    color: white;
}