@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    font-weight: 300;
    font-size: 45px;
    padding: 30px;
    margin-bottom: 5px;
  
}
.main-container h1{
   margin-left: 20px;
}
.input-field {
    height: 100%;
    width: 350px;
    border: 1px solid black;
    margin-right: 20px;
    border-radius: 0%;
   
}

.submit-button {
    border: none;
    color: #fff;
    
    background: #833AE0;
    padding: 17px 25px;
    cursor: pointer;
}

.search-label {
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 0;
}

.search-section {
    height: 50px;
    position: relative;
    margin-top: 2%;
    margin-left: 20px;
}

.filter-toggle {
    font-size: 14px;
    font-weight: 400;
    color: hsla(0, 0%, 43%);
    display: block;
    margin-top: 3%;
    text-decoration: none;
   margin-left: 20px;
}

.filter-toggle > img {
    vertical-align: middle;
    margin-left: 4px;
    height: 100%;
}

.filter-toggle > span {
    vertical-align: middle;
}

.content-display {
    margin-top: 70px;
    padding-right: 150px;
}
